.container {
    margin:  0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.keyboard {
    width: 800px;
    height: 250px;
    border: 2px black double;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.form-for-text {
    width: 840px;
    height: 200px;
    
}

.heading {
    margin: 5px;
    font-family: monospace;
    font-size: 32px;
}

.little-message {
    margin: 5px;
    font-family: monospace;
    font-size: 16px;
}

.little-message2 {
    margin: 5px;
    font-family: monospace;
    font-size: 16px;
}

.line-one,
.line-two,
.line-three,
.line-four,
.line-five {
    width: 780px;
    height: 45px;
}

.key-remark,
.key1,
.key2,
.key3,
.key4,
.key5,
.key6,
.key7,
.key8,
.key9,
.key0,
.key-minus,
.key-equals {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-tab,
.key-q,
.key-w,
.key-e,
.key-r,
.key-t,
.key-y,
.key-u,
.key-i,
.key-o,
.key-p,
.key-square-l,
.key-square-r,
.key-slash,
.key-del {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-backspace {
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.line-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key-a,
.key-s,
.key-d,
.key-f,
.key-g,
.key-h,
.key-j,
.key-k,
.key-l,
.key-p,
.key-semicolon,
.key-apostrophe {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-enter,
.key-caps {
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-shift-l,
.key-shift-r {
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-z,
.key-x,
.key-c,
.key-v,
.key-b,
.key-n,
.key-m,
.key-comma,
.key-dot,
.key-another-slash,
.key-up {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.line-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-five {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.key-ctrl-l,
.key-win,
.key-alt-l,
.key-alt-r,
.key-left,
.key-down,
.key-right,
.key-ctrl-r {
    width: 40px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-space {
    width: 395px;
    height: 40px;
    border: 2px black solid;
    border-radius: 5px;
}